.lista-productos{
  /*   border: 1px solid black; */
    min-width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 15px;
}

.lista-productos .item{
    padding: 10px;
}

